REGION=us-east-1
PENDING_MESSAGES_QUEUE=https://sqs.us-east-1.amazonaws.com/123456789/my-queue
EMAIL_SOURCE=no-reply@example.com
DESTINATION_EMAIL=contact@example.com
CLOUDFRONT_DOMAIN=d1234abcd.cloudfront.net
RATE_LIMIT_TABLE=contact-ms-dev-rate-limit
DYNAMODB_ENDPOINT=http://localhost:8000
IS_OFFLINE=true
